@model IEnumerable<Tengella.Survey.Data.Models.Template>

@{
    ViewData["Title"] = "E-postmall";
}

<div class="d-flex flex-column justify-content-start align-items-center gap-5 min-vh-100 my-5">
    <div class="col-md-6 text-light text-center text-md-left fadeInLeft" data-wow-delay="0.3s">
        <h1 class="h1-responsive font-weight-bold mt-sm-5">E-postmall</h1>
        <hr class="hr-light">
        <h2 class="mb-4 h6">
            Se dina e-postmallar här. Skapa, ändra, skicka till kunder antingen med redan inlagda e-postadresser eller med att importa från fil.
        </h2>
        @Html.ActionLink("Skapa", "Create", "Template", null, new { @class = "btn btn-light"})
    </div>

    @if (Model.Count() > 0)
    {
        <div class="col-12 my-3 bg-gradient rounded box-shadow">
            @foreach (var template in Model)
            {
                <div class="pt-4 pb-4 border-bottom border-gray d-flex gap-5 flex-wrap justify-content-between align-items-center">

                    <div class="d-flex px-3 gap-4">
                        <img class="ms-3" width="48" height="48" alt="" src="~/icons/envelope_email_icon.svg">
                        <div class="d-flex flex-column align-content-center justify-content-center flex-wrap gap-1">
                            <strong class="text-info"><span class="text-light">@template.Name</span> (@template.Subject)</strong>

                        </div>

                    </div>

                    <div class="d-flex flex-xl-column align-items-center gap-3 justify-content-end col-xl-auto px-3 py-2 bg-gradient rounded-start">
                        @Html.ActionLink("", "Send", new {id = template.Id}, new { @class = "btn send-image-button", title = "Skicka"})
                        @Html.ActionLink("", "Edit", new {id = template.Id}, new { @class = "btn edit-image-button", title = "Ändra"})
                        @Html.ActionLink("", "Delete", new {id = template.Id}, new { @class = "btn delete-image-button", title = "Ta bort", onclick = "return confirm('Är du säker på att du vill ta bort  e-postmallen?');" })
                    </div>
                </div>
            }
        </div>
    }
    
</div>