@model Tengella.Survey.Web.Models.SurveyViewModel

@{
    ViewData["Title"] = "Enkät";
}

<div class="d-flex flex-column justify-content-center align-items-center gap-5 min-vh-100">
    <div class="col-md-6 text-light text-center text-md-left fadeInLeft" data-wow-delay="0.3s">
        <h1 class="h1-responsive font-weight-bold mt-sm-5">Ändra Enkät</h1>
        <hr class="hr-light">
    </div>

    <div class="col-6 my-3 p-5 bg-gradient rounded box-shadow">
        @using (Html.BeginForm("Edit", "Survey"))
        {
            @Html.ValidationSummary(true)

            <div class="d-flex flex-column gap-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, "Namn", new { @class = "text-light"})
                    @Html.HiddenFor(m => m.Id)
                    @Html.TextBoxFor(m => m.Name, new { placeholder = "Skriv in ett namn för enkäten", @class = "form-control", required = true})
                </div>

                <div class="form-group">
                    <div class="text-2xl flex flex-row gap-x-5">
                        @Html.LabelFor(m => m.SurveyTypeId, "Typ av enkät", new { @class = "text-light"})
                        @Html.DropDownListFor(m => m.SurveyTypeId, @Model.ListOfType?.Select(st => new SelectListItem { Value = st.Id.ToString(), Text = st.Name }), "Välj typ", new { title = "Typ", @id = "surveyType", @class = "form-control form-select", required = true })
                    </div>
                </div>

                <div class="d-flex form-group gap-3">
                    <div class="w-50">
                        @Html.LabelFor(m => m.StartDate, "Startdatum", new { @class = "text-light"})
                        @Html.TextBoxFor(m => m.StartDate, "{0:s}", new { @class = "form-control", @type = "datetime-local", @min=@DateTime.Now.ToString("yyyy-MM-ddThh:mm"), required = true })
                    </div>
                    <div class="w-50">
                        @Html.LabelFor(m => m.EndDate, "Slutdatum", new { @class = "text-light"})
                        @Html.TextBoxFor(m => m.EndDate, "{0:s}", new { @class = "form-control form-select", @type = "datetime-local", required = true, @id = "endDateInput" })
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div id="questionsContainer" class="d-flex flex-column gap-3"></div>
            </div>

            <div class="form-group my-5">
                <button type="button" class="btn btn-primary add-question">Lägg till fråga</button>
            </div>

            <div class="form-group my-5">
                <button type="submit" class="btn btn-light">Spara</button>
                @Html.ActionLink("Gå tillbaka", "Index", "Survey", null, new { @class = "btn btn-secondary"})
            </div>

        }

    </div>
</div>

@section Scripts {
    <script>
        const surveyQuestions = @Html.Raw(Json.Serialize(Model.Questions));

        console.log(surveyQuestions)
    </script>
    <script defer src="~/js/CreateSurvey.js"></script>
}
