@model IEnumerable<Tengella.Survey.Web.Models.SurveyViewModel>

@{
    ViewData["Title"] = "Enkät";
}

<div class="d-flex flex-column justify-content-start align-items-center gap-5 min-vh-100 my-5">
    <div class="col-md-6 text-light text-center text-md-left fadeInLeft" data-wow-delay="0.3s">
        <h1 class="h1-responsive font-weight-bold mt-sm-5">Enkät</h1>
        <hr class="hr-light">
        <h2 class="mb-4 h6">
            Här listas alla enkäter som skapats. Det går att visuallisera statistik, kopiera och ändra dem.
        </h2>
        @Html.ActionLink("Skapa", "Create", "Survey", null, new { @class = "btn btn-light"})
    </div>

    @if (Model.Count() > 0)
    {
        <div class="col-12 my-3 bg-gradient rounded box-shadow">
            @foreach (var survey in Model)
            {
                <div class="pt-4 pb-4 border-bottom border-gray d-flex gap-5 flex-wrap justify-content-between align-items-center">
                    @{
                        DateTime currentDate = DateTime.Now;
                        TimeSpan timeLeft = survey.EndDate - currentDate;
                        int daysLeft = ((int)timeLeft.TotalDays < 0) ? 0 : (int)timeLeft.TotalDays;
                    }

                    <div class="d-flex px-3 gap-4">
                        <img class="rounded" width="64" height="64" alt="" src="~/icons/survey_icon.svg">
                        <div class="d-flex flex-column align-content-center justify-content-center flex-wrap gap-1">
                            <strong class="text-info">@Html.ActionLink((@survey).Name, "ViewSurvey", new { id = survey.Id}, new { @class = "text-light"}) (@survey.TypeName)</strong>
                            
                            <div class="d-flex flex-column flex-md-row gap-4">
                                <div class="d-flex flex-column align-items-start justify-content-center flex-wrap gap-1">
                                    <div class="d-flex flex-row gap-3 align-items-center">
                                        <img class="rounded" width="16" height="16" alt="" src="~/icons/calendar.svg">
                                        <small class="text-light">Börjar: @survey.StartDate.ToString("dd MMM yyyy")</small>
                                    </div>

                                    <div class="d-flex flex-row gap-3 align-items-center">
                                        <img class="rounded" width="16" height="16" alt="" src="~/icons/calendar.svg">
                                        <small class="text-light">Avslutas: @survey.EndDate.ToString("dd MMM yyyy") (@daysLeft dagar kvar)</small>
                                    </div>
                                </div>
                                <div class="d-flex flex-column align-items-start justify-content-center flex-wrap gap-1">
                                    <div class="d-flex flex-row gap-3 align-items-center">
                                        <img class="rounded" width="16" height="16" alt="" src="~/icons/envelope_open_text_icon.svg">
                                        <small class="text-light">Antal mottagare: @survey.AmountRecivers</small>
                                    </div>

                                    <div class="d-flex flex-row gap-3 align-items-center">
                                        <img class="rounded" width="16" height="16" alt="" src="~/icons/envelope_email_icon.svg">
                                        <small class="text-light">Antal svarande: @survey.AmountRetrivers</small>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>

                    </div>

                    <div class="d-flex flex-xl-column align-items-center gap-3 justify-content-end col-xl-auto px-3 py-2 bg-gradient rounded-start">
                        @Html.ActionLink("", "Copy", new {id = survey.Id}, new { @class = "btn copy-image-button", title = "Kopiera enkät", onclick = "return confirm('Är du säker på att du vill kopiera denna enkät?');"})
                        @Html.ActionLink("", "Edit", new {id = survey.Id}, new { @class = "btn edit-image-button", title = "Ändra"})
                        @if (survey.AmountRecivers > 0) {
                            @Html.ActionLink("", "Index", "Statistic", new {surveyId = survey.Id}, new { @class = "btn statistic-image-button", title = "Visa statistik" })
                        }
                        @Html.ActionLink("", "Delete", new {id = survey.Id}, new { @class = "btn delete-image-button", title = "Ta bort", onclick = "return confirm('Är du säker på att du vill ta bort enkäten? All statistik kommer tas bort!');" })
                    </div>
                </div>
            }
        </div>
    }

</div>