@model Tengella.Survey.Web.Models.SurveyViewModel

@{
    ViewData["Title"] = "Förhandsvisning";
    DateTime currentDate = DateTime.Now;
    TimeSpan timeLeft = Model.EndDate - currentDate;
    int daysLeft = (int)timeLeft.TotalDays;
}

<div class="d-flex flex-column justify-content-start align-items-center gap-5 min-vh-100 my-5">
    <div class="col-md-6 text-light text-center text-md-left fadeInLeft" data-wow-delay="0.3s">
        <h1 class="h1-responsive font-weight-bold mt-sm-5">@Model.Name</h1>
        <hr class="hr-light">
        <h2 class="mb-4 h6">
            Enkäten avslutas den @Model.EndDate.ToString("dd MMM yyyy") (@daysLeft dagar kvar)
        </h2>
    </div>

    <div class="col-6 my-3 p-5 bg-gradient rounded box-shadow">

        <div id="questionsContainer">

            @for (int i = 0; i < Model.Questions.Count; i++)
            {
                <div class="text-light question-container d-flex flex-column gap-3 mb-5 pb-5" question-index="@i">
                    <hr class="hr-light">
                    <h3 class="fs-5 text-center">
                        @Model.Questions[i].Name
                    </h3>
                    @if (!string.IsNullOrEmpty(@Model.Questions[i].AdditionalInfo))
                    {
                        <small class="additionInfo">
                            @Model.Questions[i].AdditionalInfo
                        </small>
                    }
                    <hr class="hr-light">

                    <div class="d-flex flex-row align-items-center gap-4">

                    @if (Model.Questions[i].Options.Count == 0)
                    {
                        <div class="optionQuestion bg-gradient rounded py-5 px-3 w-100">
                            @Html.TextArea("Question-"+Model.Questions[i].Id, "", 5, 30, new { @class = "form-control", title = "Skriv ditt svar här", placeholder = "Skriv ditt svar här"})
                        </div>
                    }
                    else
                    {
                        <div class="options d-flex flex-row gap-3 bg-gradient rounded py-5 px-3 w-100">
                            @for (int j = 0; j < Model.Questions[i].Options.Count; j++)
                            {
                                var optionId = $"Question-{Model.Questions[i].Id}-Option-{j}";
                                var optionValue = $"Option-{j}";
                                var optionName = $"Question-{Model.Questions[i].Id}";

                                <div class="d-flex gap-3 itemContainer">
                                    @Html.Label(optionId, Model.Questions[i].Options[j].Name)
                                    @Html.RadioButton(optionName, optionValue, new { id = optionId, @class = "form-check-input" })
                                </div>
                            }
                        </div>
                    }
                    </div>
                </div>
            }
        </div>

        @using (Html.BeginForm("Create", "Survey"))
        {
            @Html.HiddenFor(m => m.Name)
            @Html.HiddenFor(m => m.SurveyTypeId)
            @Html.HiddenFor(m => m.StartDate)
            @Html.HiddenFor(m => m.EndDate)

            @for (int i = 0; i < Model.Questions.Count; i++)
            {
                @Html.Hidden($"question-{i}", Model.Questions[i].Name)
                @Html.Hidden($"additionalInfo-question-{i}", Model.Questions[i].AdditionalInfo)

                @for (int j = 0; j < Model.Questions[i].Options.Count; j++)
                {
                    @Html.HiddenFor(o => o.Questions[i].Options[j].Name, Model.Questions[i].Options[j].Name)
                }
            }

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Skapa enkät</button>
                <button type="submit" name="fromPreview" value="true" class="btn btn-outline-light">Tillbaka</button>
            </div>
        }
    </div>
</div>