@model Tengella.Survey.Web.Models.DistributionViewModel

@{
    ViewData["Title"] = "Ändra kund";
}

<div class="d-flex flex-column justify-content-center align-items-center gap-5 min-vh-100">
    <div class="col-md-6 text-light text-center text-md-left fadeInLeft" data-wow-delay="0.3s">
        <h1 class="h1-responsive font-weight-bold mt-sm-5">Ändra Kund</h1>
        <hr class="hr-light">
    </div>

<div class="col-6 my-3 p-5 bg-gradient rounded box-shadow">
    @using (Html.BeginForm("Edit", "Distribution"))
    {
        @Html.ValidationSummary(true)

        <div class="d-flex flex-column gap-3 mb-4 p-3">
            <div class="form-group">
                @Html.LabelFor(m => m.Name, "Namn")
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", required = true})
            </div>

            <div class="form-group">
                <div class="text-2xl flex flex-row gap-x-5">
                    @Html.LabelFor(m => m.DistributionTypeId, "Typ av enkät")
                        @Html.DropDownListFor(m => m.DistributionTypeId, @Model.ListOfType?.Select(st => new SelectListItem { Value = st.Id.ToString(), Text = st.Name }), "Välj typ", new { title = "Typ", @id = "surveyType", @class = "form-control form-select", required = true })
                </div>
            </div>

            <div class="form-group" id="textboxContainer">
                @Html.LabelFor(m => m.OrganizationNumber, "Organisationsnummer")
                @Html.TextBoxFor(m => m.OrganizationNumber, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, "E-postadress")
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group my-3 p-3">
            <button type="submit" class="btn btn-light">Spara</button>
            @Html.ActionLink("Gå tillbaka", "Index", "Distribution", null, new { @class = "btn btn-secondary" })
        </div>
    }

</div>

@section Scripts {
    <script defer src="~/js/OrganizationNumber.js"></script>
}