@model Tengella.Survey.Web.Models.StatisticViewModel

@{
    ViewData["Title"] = "Enkät";
    var questionIndex = 0;
}

<div class="d-flex flex-column justify-content-center align-items-center gap-5 min-vh-100">
    <div class="col-md-6 text-light text-center text-md-left fadeInLeft" data-wow-delay="0.3s">
        <h1 class="h1-responsive font-weight-bold mt-sm-5">Statistik</h1>
        <hr class="hr-light">
        <h2 class="mb-4 h6">
            
        </h2>
    </div>

    <div class="col-6 my-3 p-5 bg-gradient rounded box-shadow">
        <div class="d-flex flex-row gap-5 my-5">
            <canvas id="chart-amount" class="w-50 h-25"></canvas>
            <div class="w-50">
                <h2 class="text-center text-light">E-postutskick</h2>
                <div class="mt-3 d-flex flex-row flex-wrap justify-content-between">
                    <div class="w-50">
                        <h3 class="h6 py-2 bg-primary text-light text-center">Väntande</h3>
                        <p class="text-light text-center">@(@Model.AmountRecivers - @Model.AmountRetrivers)</p>
                    </div>
                    <div class="w-50">
                        <h3 class="h6 py-2 bg-danger text-light text-center">Svarande</h3>
                        <p class="text-light text-center">@Model.AmountRetrivers</p>
                    </div>    
                </div>
                <h3 class="text-light text-center">Totala Mottagare</h3>
                <p class="text-light text-center">@Model.AmountRecivers</p>
            </div>
        </div>

        <div class="gap-5 my-5">

            <div class="w-100 my-5">
                <h2 class="text-center text-light">Hur blev resultatet?</h2>
                <p class="text-center text-light">Här går det att se hur användarna svarade på varje fråga i en sammanställning</p>
                <hr class="hr-light">

                <div class="form-group text-light d-flex flex-column gap-2 mb-4">
                    <label for="chartType">Välj diagram:</label>
                    <select id="chartType" class="form-control">
                        <option value="bar">Stapeldiagram</option>
                        <option value="pie">Pajdiagram</option>
                    </select>
                </div>

                <hr class="hr-light">
            </div>
            
            @foreach (var questionStat in Model.Questions)
            {
                <div class="my-5">
                    <h3 class="h5 text-center text-light">@questionStat.Name</h3>
                    @if (questionStat.AverageRating > 0)
                    {
                        <small class="text-light">Snittvärde för frågan är @questionStat.AverageRating</small>
                    }
                    @if (int.TryParse(questionStat.Answer, out _))
                    {
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#questionTrendModal-@questionStat.Id">
                            Show Trend
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="questionTrendModal-@questionStat.Id" tabindex="-1" role="dialog" aria-labelledby="questionTrendModalLabel-@questionStat.Id" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="questionTrendModalLabel-@questionStat.Id">Trend for @questionStat.Name</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <canvas id="questionTrendChart-@questionStat.Id" width="400" height="200"></canvas>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <canvas class="h-25 chart" data-question-id="@questionIndex" id="chart-@questionIndex"></canvas>

                questionIndex++;
            }
        </div>

    </div>
</div>

@section Scripts {
    <script>
        const amountRecivers = @Html.Raw(Json.Serialize(Model.AmountRecivers));
        const amountRetrivers = @Html.Raw(Json.Serialize(Model.AmountRetrivers));
        const questions = @Html.Raw(Json.Serialize(Model.Questions));
    </script>
    <script defer src="~/js/statistics.js"></script>
}